@import url("styles/header.css");
@import url("styles/welcome.css");
@import url("styles/about.css");
@import url("styles/service.css");
@import url("styles/prices.css");
@import url("styles/contacts.css");
@import url("styles/footer.css");

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto_Condensed-Regular.woff2") format("woff2"),
    url("assets/fonts/Roboto_Condensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inika";
  src: url("assets/fonts/Inika-Regular.woff2") format("woff2"),
    url("assets/fonts/Inika-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inika";
  src: url("assets/fonts/Inika-Bold.woff2") format("woff2"),
    url("assets/fonts/Inika-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter_18pt-Light.woff2") format("woff2"),
    url("assets/fonts/Inter_18pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter_18pt-Regular.woff2") format("woff2"),
    url("assets/fonts/Inter_18pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter_18pt-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Inter_18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter_18pt-Bold.woff2") format("woff2"),
    url("assets/fonts/Inter_18pt-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Inika", sans-serif;
  --third-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--second-family);
  background-color: #fff;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  width: 85%;
  max-width: 1220px;
  margin: 0 auto;
}

.green-text {
  color: #499a18;
}

.orange-text {
  color: #e06733;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.orange-button {
  font-weight: 400;
  font-size: 20px;
  color: #e06733;
  border: #e06733 solid 1px;
  border-radius: 5px;
  background-color: inherit;
  padding: 12px 40px;
  cursor: pointer;
}

.arrow {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: #aea1a1;
}

@media screen and (max-width: 768px) {
  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .description {
    font-size: 15px;
    line-height: 25px;
  }
  .orange-button {
    padding: 8px 28px;
    font-size: 15px;
  }
}
