.contacts {
  padding-top: 60px;
  background-color: #edf2ec;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}


.contacts__image {
  width: 400px;
  height: 500px;
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  color: #499a18;
  text-align: center;
}

.contacts__content {
  width: 100%;
  max-width: 450px;
}

.contacts__choice {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 5px 35px 5px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-top: 76px;
}

.contacts__choice_active {
  background-color: #c1e698;
  box-shadow: none;
  border: 1px solid #d6e7d2;
}

.contacts__choice_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 5%;
  color: #717171;
}

.contacts__cities {
  display: none;
  padding: 27px 50px 31px 20px;
  flex-direction: column;
  gap: 12px;
  background-color: #dce9d9;
}

.contacts__cities_active {
  display: flex;
}

.contacts__city {
  border-bottom: 1px solid #d9d9d9;
}

.contacts__city_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 5%;
  color: #499a18;
}

.contacts__city_text:hover {
  color: #717171;
}

.contacts__city:hover {
  border-bottom: 1px solid #717171;
}

.contacts__adress {
  width: 100%;
  display: none;
  padding: 17px 76px 32px 33px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 47px;
  
}

.contacts__adress_active {
  display: block;
}

.contacts__adress_content {
  display: flex;
  margin-bottom: 24px;
}

.contacts__adress_parametrs {
  margin-right: 16px;
}

.contacts__adress_title {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 5%;
}

.contacts__adress_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 5%;
  color: #717171;
}

.contacts__adress_button-div {
  text-align: center;
}

.contacts__adress_button {
  font: var(--second-family);
  padding: 7px 45px;
  border-radius: 5px;
  border: 1px solid #e06733;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  color: #717171;
  background-color: inherit;
}

.arrow__active {
  transform: rotate(180deg);
}

@media screen and (max-width: 1010px) {
  .contacts {
    padding-top: 40px;
  }
  .contacts__container {
    flex-direction: column;
    align-items: center;
  }
  .contacts__image {
    width: 200px;
    height: 250px;
    order: 1;
    margin-top: 250px;
  }
  .contacts__title {
    margin-bottom: 100px;
  }
  .contacts__choice {
    margin-top: 0;
  }
}

@media screen and (max-width: 450px) {
  .contacts {
    padding-top: 25px;
  }
  .contacts__title {
    font-size: 25px;
  }
  .contacts__choice {
    padding: 5px 20px 5px 20px;
  }
  .contacts__image {
    width: 100px;
    height: 125px;
    margin-top: 132px;
  }
}
