.service {
  padding-top: 40px;
  padding-bottom: 120px;
  background-color: #edf2ec;
}

.service__header {
  width: 83%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  align-items: center;
  flex-wrap: wrap;
}

.service__title {
  font-weight: 400;
  font-size: 40px;
  color: #499a18;
}

.service__buttons {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 38px;
}

.service__buttons .service__buttons-active {
  background-color: #e06733;
  color: #fff;
}

.service__cards {
  display: flex;
  row-gap: 55px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__card {
  border-radius: 20px;
  border: #e3e1d5 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__card_image {
  width: 329px;
  height: 350px;
}

.card-blur {
  filter: blur(1.5px);
}

.service__card_title {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
}

.service__card_description {
  margin-top: 10px;
  margin-bottom: 36px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

@media screen and (max-width: 679px) {
  .service__cards {
    justify-content: center;
  }
}

@media screen and (max-width: 1145px) {
  .service__header {
    row-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .service {
    padding: 60px 0 70px 0;
  }
  .service__card {
    width: 270px;
    height: 420px;
  }
  .service__cards {
    gap: 38px;
  }
  .service__card_image {
    width: 270px;
    height: 350px;
  }
  .service__card_description {
    padding: 0 40px;
    text-align: center;
  }
}

@media screen and (max-width: 608px) {
  .service {
    padding: 30px 0 27px 0;
  }
  .service__title {
    font-size: 25px;
  }
  .service__buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
  .service__header {
    margin-bottom: 40px;
  }
  .service__card_image {
    width: 279px;
    height: 350px;
  }
  .service__cards {
    gap: 34px;
  }
  .service__card_description {
    margin-bottom: 20px;
  }
}
