.welcome {
  padding: 62px 0;
  box-sizing: content-box;
  background-color: #edf2ec;
}

.welcome__container {
  display: flex;
  justify-content: space-between;
}

.welcome__leafs {
  width: 448px;
  height: 407px;
}

.welcome__content {
  width: 549px;
}

.welcome__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 42px;
  color: #717171;
}

.welcome__description {
  margin-bottom: 48px;
}

.welcome__button {
  padding: 14px 27px;
  border-radius: 10px;
  border: #e06733 solid 2px;
  background-color: inherit;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .welcome {
    padding: 40px 0 70px 0;
  }
  .welcome__leafs {
    width: 280px;
    height: 255px;
    order: 1;
  }
  .welcome__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .welcome__description {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 650px) {
  .welcome {
    padding: 24px 0 24px 0;
  }
  .welcome__leafs {
    display: none;
  }
  .welcome__title {
    font-size: 25px;
    line-height: 35px;
  }
  .welcome__button {
    padding: 8px 18px;
    font-size: 10px;
  }
}
